@import "~bootstrap/scss/bootstrap";

body {
  background-color: blue; // rgb(3, 8, 30);
}


@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.3s steps(30, end);
  animation-fill-mode: forwards;
  // border-right: .15em solid orange;
}

#CompToRender2,
#searchText {
  font-family: 'Share Tech Mono', monospace;

}

.active {
  border: 0.5px solid lightblue;
  background: blue; // rgba(23, 47, 170, 0.5);
  color: white;
}


.glow {
  box-shadow: inset 0 0 5px white; // 20px blue;
  border-radius: 5px;
}
